* {
    font-family: 'Merriweather', serif;
}

/* banner section style start */
.banner {
    background-image: url(resources/Banner\ Image.png);
    background-position: center;
    border-radius: 16px;
    background-repeat: no-repeat;
    align-items: center;
}

.happy {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    padding-top: 177px;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    padding-bottom: 177px;
}

/* banner section style end */

/* offer section start */
.off-percentance {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    margin-bottom: 30px;
}

.off-dis {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
}

.all-categories {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    margin-top: 5px;
}

.new-year-photo {
    display: block;
    margin: 80px auto;
}

/* welcome section start */
.welcome {
    background-image: url(resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

.welcome-title>h1 {
    color: #FFF;
    padding-left: 160px;
    padding-top: 100px;
    font-size: 64px;
}

.welcome-title>p {
    color: rgba(255, 255, 255, 0.80);
    padding-left: 160px;
    font-family: Inter;
    font-size: 18px;
}

.welcome-title>h3 {
    color: #FFF;
    padding-bottom: 120px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
}

.party-pic {
    display: block;
    padding-top: 80px;
    padding-left: 200px;
}

.place {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 100px auto;
    width: 1320px;
    height: 482px;
    text-align: center;
}

.place-container {
    padding: 200px
}

.same-place {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 32px;
}

.place-details {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
}

.join-btn {
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
}

/* welcome section end */

/* best offer section start */
.best-offer {
    display: flex;
    margin: 150px 150px;
}

.best-offer-container {
    width: 33%;
    padding: 20px;
}

#celebration-image {
    border: 8px solid red;
    padding: 10px;
    border-radius: 100%;
}

.best-offer-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    margin-bottom: 0px;
}

.offer-comming {
    color: #070211;
    font-size: 48px;
    padding-top: 08px;
    margin-top: 0px;
}

.best-offer-details {
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 20px;
}

.off-title {
    color: #F00;
    margin-bottom: 0px;
    font-family: Inter;
    font-size: 48px;
}

/* what is functional section start */
.holiday-function {
    margin: 100px;
}

.holiday-function>h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
}

.holiday-function>h1 {
    color: #070211;
    text-align: center;
    text-align: center;
    font-size: 72px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.holiday {
    color: #F00;
}

.holiday-function>p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
}

.discount {
    background-image: url(resources/Rectangle\ 1.png);
    background-position: right top;
    background-repeat: no-repeat;
    margin: 0px 100px;

}

.discount-container {
    display: flex;
    background-image: url(resources/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0;
}

.dis-image {
    align-items: center;
}

/* portfolio section start here */
.portfolio-title {
    margin: 60px 100px;
}

.product-details {
    display: flex;
    margin: 10px 100px;
    margin-bottom: 50px;
    justify-content: space-between;
}

/* communication section sart here */
.communication {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 40px 100px;
    padding: 60px;
    text-align: center;
}

.user-email {
    width: 380px;
    height: 62px;
    border-radius: 50px 0px 0px 50px;
    border: none;
    margin: 0px;
    background: #FFF;
    padding-left: 80px;
}

.sub-btn {
    width: 180px;
    height: 62px;
    margin: 0px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
}

/* footer section start here */
footer {
    background: #070211;
}

.commonunication-details {
    display: flex;
    justify-content: space-between;
    padding:40px 100px;
}
.commonunication-details>hr{
    padding: 0px 100px;
}

.contact {
    color: #FFF;

    font-family: Inter;
    font-size: 24px;
}
.commonunication-icon{
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 60px 100px;
}